

.Home{
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Header{
  background-color: rgb(80, 4, 92);
  min-height: 50px;
  width: 100%;
}
.Header .project-name{
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.card{
  border: 1px solid rgb(196, 194, 194);
  text-align: center;
}
.card img{
  width: 60%;
  margin: auto;
  padding-top: 10px;
}
.body{
  border-left: 3px solid rgb(76, 16, 86);
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}
.topicCard{
  width: 95%;
  border-left: 3px solid rgb(80, 4, 92);
  background-color: rgba(80, 4, 92, 0.219);
  color: black;
  font-size: 15px;
  font-weight: 600;
  padding: 1px 0 1px 5px;
  margin: 5px auto 5px auto;
}
.topic{
  padding: 10px;
}
.topics button{
  border: none;
  color: white;
  background-color: rgb(76, 16, 86);
  border-radius: 4px;
  padding: 10px;
  margin: 0 0 0 30px;
}
.questions{
  padding: 10px;
}
.questions #backButton{
  border: none;
  color: white;
  background-color: rgb(76, 16, 86);
  border-radius: 4px;
  padding: 10px;
}
.questions h2{
  color: rgb(76, 16, 86);
}
.questionCard{
  border: 1px solid rgb(229, 208, 233);
  box-shadow: 1px 1px 4px rgb(207, 204, 207);
  margin: auto;
  min-height: 170px;
  padding: 10px;
}
.answerCard{
  display: flex;
  margin-top: 15px;
  width: 100%;
  justify-content: space-between;
}
.answerCard button{
  border: none;
  background-color: rgb(76, 16, 86);
  color: white;
  font-size: 12px;
  font-weight: 700;
  border-radius: 5px;
  height: 40px;
  margin: auto 0 auto 0;

}
.answerCard p{
  font-size: 15px;
  display: none;
}
.navigationCard{
  display: flex;
  margin-top: 50px;
  padding: 20px 5px;
  justify-content: space-between;
}
.navigationCard img{
  height: 15px;
  margin: auto;
}
.navigationCard .previous button p{
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  padding: 1px;
}
.navigationCard .next button p{
  padding: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}
.previous button{
  display: flex;
  padding: 5px;
  background-color: white;
  border: 1px solid rgb(203, 209, 211);
  border-radius: 5px;
  
}
.next button{
  border: 1px solid rgb(203, 209, 211);
  border-radius: 5px;
  display: flex;
  background-color: white;
  padding: 5px;
  
}
.welcome{
  background-color: rgb(76, 16, 86);
  text-align: center;
  height: 1000px;
}
.welcome p{
  padding:100px  0;
  font-size: 20px;
  color: white;
  margin: auto;

}
.welcome .btn{
  text-align: center;
}
.welcome .btn button{
  border: none;
  background-color: white;
  color: rgb(80, 4, 92);
  border-radius: 5px;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
}